<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cinemation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="term" (ionChange)="searchChanged($event)"></ion-searchbar>
  <ion-item>
    <ion-label>Select search type:</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option selected="true" value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="eposide">Episodes</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let movie of (results  | async)" [routerLink]="['/', 'movie', movie.imdbID]">
      <ion-avatar slot="start">
        <img src="{{movie.Poster}}" alt="{{movie.Title}}" *ngIf="movie.Poster != 'N/A'">
        <img src="https://res.cloudinary.com/dvm6sgg1h/image/upload/v1579291731/cinema/nml7uux6yeq9gh97tcbp.jpg" alt="{{movie.Title}}" *ngIf="movie.Poster === 'N/A'">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>{{movie.Title}}</h3>
        {{movie.Year}}
      </ion-label>
      <ion-icon slot="end" *ngIf="movie.Type === 'movie'" name="recording"></ion-icon>
      <ion-icon slot="end" *ngIf="movie.Type === 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="movie.Type === 'eposide'" name="tablet-portrait"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>